.login-input {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	i {
		position: absolute;
		right: 5px;
		top: 25px;
		transform: scale(0.8) translateY(-50%);
	}
}

.login-input .error-border {
	border-color: #b94a48;
}
