.wrapper {
	display: grid;
	grid-template-rows: 1fr auto;
	grid-template-columns: 1fr;
	gap: 10px;
	width: 100%;
}
.grid-gender div:first-of-type {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	height: 35px;
	margin-bottom: 10px;
}
