.wrapper {
	display: grid;
	grid-template-rows: 1fr 35px;
	grid-template-columns: 1fr;
	gap: 10px;
	width: 100%;
}
.grid-gender {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}
