@import './media/mobile.scss';
@import './media/tab_lap.scss';

.loginPage {
	height: 100%;
	.headers {
		width: 300px;
		margin: 0 auto;
		span {
			font-size: 20px;
		}
	}
	.formWrapper {
		margin: 1rem auto;
		user-select: none;
		.loginForm {
			button {
				height: 50px;
			}
		}
		.splitter {
			margin: 10px auto;
			max-width: 900px;
		}
		.open-signup {
			width: 70%;
			height: 50px;
			margin-top: 1rem;
		}
	}
}
