/* FOOTER */
.footer {
	height: 22vh;
	background: var(--bg-primary);
	padding: 1.5rem;
	.footer-wrap {
		display: flex;
		flex-wrap: wrap;
		gap: 3px 10px;
		font-size: 13px;
		color: var(--color-secondary);
		max-width: 350px;
		margin: 0 auto;
		a {
			display: flex;
			align-items: center;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.footer-square {
		background: var(--bg-secondary);
		height: 19px;
		width: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid var(--bg-third);
		i {
			transform: scale(0.8);
			-webkit-filter: invert(40%);
		}
	}
}
/* FOOTER */

/*----Media queries--------------*/
@media (min-width: 539px) {
	.footer .footer-wrap {
		max-width: 520px;
	}
	.register {
		width: 400px;
	}
	.register .form .col .grid select,
	.register .form .col .grid label {
		width: 110px;
	}
}
@media (min-width: 650px) {
	.footer .footer-wrap {
		max-width: 650px;
	}
}
@media (min-width: 850px) {
	.wrap {
		display: flex;
		align-items: center;
		max-width: 1000px;
		margin: 0 auto;
	}
	.headers {
		display: flex;
		flex-direction: column;
		width: 50%;
		margin-bottom: 15vh;
	}
	.headers img {
		width: 300px;
		margin-left: -1.7rem;
	}
	.headers span {
		font-size: 28px;
	}
	.form {
		width: 400px;
	}
	.footer .footer-wrap {
		max-width: 900px;
	}
}
